<h1>Facturas</h1>

<table mat-table [dataSource]="listadoFacturasWS" class="mat-elevation-z8">

    <ng-container matColumnDef="codigo">
      <th mat-header-cell *matHeaderCellDef> Nro Factura </th>
      <td mat-cell *matCellDef="let factura"> {{factura.codigo}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaIngreso">
      <th mat-header-cell *matHeaderCellDef> Fecha de Ingreso</th>
      <td mat-cell *matCellDef="let factura"> {{factura.ticket.horaIngreso}} </td>
    </ng-container>

    <ng-container matColumnDef="fechaSalida">
      <th mat-header-cell *matHeaderCellDef> Fecha de Salida</th>
      <td mat-cell *matCellDef="let factura"> {{factura.ticket.horaSalida}} </td>
    </ng-container>

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let factura"> {{factura.ticket.vehiculo.placa}} </td>
    </ng-container>

    <ng-container matColumnDef="nroLugar">
      <th mat-header-cell *matHeaderCellDef> Nro de lugar </th>
      <td mat-cell *matCellDef="let factura"> {{factura.ticket.lugar.nroLugar}} </td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef> Total </th>
      <td mat-cell *matCellDef="let factura"> {{factura.total}} </td>
    </ng-container>

    <ng-container matColumnDef="eliminar">
        <th mat-header-cell *matHeaderCellDef> Eliminar </th>
        <td mat-cell *matCellDef="let factura"> <mat-icon (click)="eliminar(factura)">delete</mat-icon> </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
