body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .background-image {
    background-image: url("/assets/fondo.png"); /* Ruta de la imagen de fondo */
    background-size: cover; /* Ajusta el tamaño de la imagen de fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    width: 99.06vw; /* Ancho de la ventana del navegador */
    height: 100vh; /* Alto de la ventana del navegador */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 1;
    left: 0;
  }
  
  .content {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente para el contenido */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
  
  .content h1 {
    margin-bottom: 10px;
  }
  
  .content p {
    margin: 0;
  }
  
  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas con igual espacio entre ellas */
    grid-gap: 10px; /* Espacio entre las imágenes */
    margin-top: 20px;
  }
  
  .image-grid img {
    width: 85%; /* Las imágenes ocuparán todo el ancho disponible en la cuadrícula */
    height: auto; /* Ajusta la altura de manera proporcional */
  }
  