<div class="background-image">
    <div class="content">
      <h1>Bienvenido</h1>
      <p>Sistema Gestor de Parqueadero</p>
      <div class="image-grid">
       <a href="paginas/regCliente"> <img src="/assets/anadir.png" alt="Imagen 1"></a>
       <a href="paginas/listCliente"> <img src="/assets/cliente.png" alt="Imagen 2"></a>
       <a href="paginas/listTicket"> <img src="/assets/ticket.png" alt="Imagen 3"></a>
       <a href="paginas/listFactura"> <img src="/assets/factura.png" alt="Imagen 4"></a>
      </div>
    </div>
</div>
