<nav>
    <ul class="menu">
      <!-- <li><a href="#" >Inicio</a></li> -->
      <li><a href="#" ><mat-icon aria-hidden="true" aria-label="Example home icon" fontIcon="home"></mat-icon></a></li>
      <li><a routerLink="paginas/regCliente">Registro Clientes <mat-icon>add_circle</mat-icon></a></li>
      <li><a routerLink="paginas/listCliente">Clientes <mat-icon>account_circle</mat-icon> </a></li>
      <li><a routerLink="paginas/listTicket">Tickets Generados <mat-icon>commute</mat-icon></a></li>
      <li><a routerLink="paginas/listFactura">Facturas Generadas <mat-icon>store</mat-icon></a></li>
      <li><a routerLink="paginas/factura">Contactenos <mat-icon>contact_support</mat-icon></a></li>
      <li><a>Soporte <mat-icon>help</mat-icon></a></li>
      
      
    </ul>
</nav>
