<h1>Gestion Clientes</h1>

<span *ngIf="listadoContactosWS.length==0">
    No existen Clientes Registrados
</span>

<script>
    var contador=0;
    setInterval(function(){
        contador++;
        document.getElementById("contador").innerHTML=contador;
    },1000);
</script>

<div id="elemento">
<ul>
    <table>
        <thead class="tituloTabla" *ngIf="listadoContactosWS.length !=0">
            <tr>
                <td>Cedula</td>
                <td>Nombre</td>
                <td>Apellido</td>
                <td>Correo Electronico</td>
                <td>GenerarTicket</td>
                <td>Eliminar</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of listadoContactosWS|async">
                    <td class ="cedula">{{cliente.cedula}}</td>
                    <td>{{cliente.nombre}}</td>
                    <td>{{cliente.apellido}}</td>
                    <td>{{cliente.correo}}</td>
                    <td> <a id = "generar" (click)="enviarCliente(cliente)">Generar</a></td>
                    <td id="Eliminar" (click)="eliminar(cliente)">Eliminar</td>
                </tr>
            </tbody>
    </table>
</ul>
</div>