h1{
  margin: 10px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
body{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}
th, td {
  padding: 10px;
  text-align: left; 
}
th {
  background-color: #354D73;
  color: #fff;
  font-weight: bold;
}
tbody tr:hover {
  background-color: #e6f7ff;
  cursor: pointer;
}
.cedula{
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
#generar {
  background-color: #96e298;
  color: rgb(86, 85, 85);
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}


.tituloTabla{
  padding: 8px; 
  border-bottom: 1px solid #ddd; 
  background-color: rgb(191, 191, 242);
  font-weight: bold;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}
