<div class="ticket">
    <h2>Generar Ticket</h2>
    <div class="contenedor">
      <div class="form-group">
        <label for="fecha_entrada" id="lbl">Fecha de Entrada:</label>
        <input type="datetime-local" id="fecha_entrada" [(ngModel)]="ticket.horaIngreso" required>
      </div>
      <div class="form-group">
        <label for="fecha_salida" id="lbl">Fecha de Salida:</label>
        <input type="datetime-local" id="fecha_salida" [(ngModel)]="ticket.horaSalida" required>
      </div>
      <div class="form-group">
        <label for="placa" id="lbl">Placa:</label>
        <input type="text" id="placa" [(ngModel)]="cliente.vehiculo.placa" required>
      </div>
      <div class="form-group">
        <label for="propietario" id="lbl">Propietario:</label>
        <input type="text"id="propietario" [(ngModel)]="cliente.nombre" required disabled="true">
      </div>
    </div>
      <br><br>
     
      <div class="parking-grid">
        <h3>Seleccione el lugar:</h3>
        <div  class="row">
          <div class="spot" id="1"  (click)="verLugar(1)">1</div>
          <div class="spot" id="2" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(2)">2</div>
          <div class="spot" id="3" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(3)">3</div>
          <div class="spot" id="4" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(4)">4</div>
          <div class="spot" id="5" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(5)">5</div>
        </div>
        <div class="row">
          <div class="spot" id="6" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(6)">6</div>
          <div class="spot" id="7" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(7)">7</div>
          <div class="spot" id="8" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(8)">8</div>
          <div class="spot" id="9" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(9)">9</div>
          <div class="spot" id="10" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(10)">10</div>
        </div>
        <div class="row">
          <div class="spot" id="11" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(11)">11</div>
          <div class="spot" id="12" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(12)">12</div>
          <div class="spot" id="13" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(13)">13</div>
          <div class="spot" id="14" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(14)">14</div>
          <div class="spot" id="15" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(15)">15</div>
        </div>
        <div class="row">
          <div class="spot" id="16" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(16)">16</div>
          <div class="spot" id="17" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(17)">17</div>
          <div class="spot" id="18" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(18)">18</div>
          <div class="spot" id="19" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(19)">19</div>
          <div class="spot" id="20" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(20)">20</div>
        </div>
          <div class="row">
          <div class="spot" id="21" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(21)">21</div>
          <div class="spot" id="22" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(22)">22</div>
          <div class="spot" id="23" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(23)">23</div>
          <div class="spot" id="24" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(24)">24</div>
          <div class="spot" id="25" [(ngModel)]="lugar.nroLugar" lugar.estado = false (click)="verLugar(25)">25</div>
          </div>
      </div>
      <button type="submit" (click)="registrar(cliente)">Registrar</button>
</div>