body{
  font-family: Arial, Helvetica, sans-serif;
}

.ticket {
    max-width: 815px;
    margin: 30px auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input{
    width: 85%;
    padding: 5px;
    font-size: 16px;
    align-items: center;
  }
  input[type="submit"] {
    background-color: #7fca81;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
  }
  #parking-graph {
    width: 100%;
    
  }

  h2{
    text-align: center;
    
  }
  
  h3{
    text-align: center;
    display: block;
    font-weight: bold;
  }

  .parking-grid {
    display: grid;
    grid-template-columns: repeat( ); /* 4 columnas de 50px cada una */
    grid-gap: px; /* Espacio entre los lugares de estacionamiento */
    justify-content: center;
    text-align: center;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
  }
  
  .row {
    display: flex;
    justify-content: center;
  }
  
  .spot {
    width: 161px;
    height: 65px;
    background-color: rgb(54, 216, 59); /* Color de fondo del lugar de estacionamiento */
    border: 2px solid rgb(107, 107, 107); /* Borde del lugar de estacionamiento */
    cursor: pointer; /* Cambiar el cursor al pasar por encima de un lugar de estacionamiento */
    text-align: center;
    place-items: center;
    display: grid;
    font-size: 30px;
    color:#f1f1f1;
    
  }

  .spot:hover {
    background-color: #f65a5a; /* Color de fondo al pasar por encima de un lugar de estacionamiento */
  }

  
  .spot.selected{
    background-color: red;
  }

  // form {
  //   display: flex;
  //   align-items: center;
  //   flex-wrap: wrap;
  //   text-align: center;
  // }
.contenedor{
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}
  .form-group {
    text-align: center;
  }
  
  /* Estilos para los títulos */
  .form-group h2 {
    margin: 0;
  font-size: 18px;
  font-weight: bold;
  }
  
  /* Estilos para las cajas de texto */
  .form-group input {
    width: 125px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 5px;
  }



  #lbl{
    text-align: left;
    margin-left: 10px;
  }

  button {
    margin-top: 20px;
    padding: 10px 150px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    align-items: center;
}

button:hover {
    background-color: #0056b3;
}
