/* Estilos para la cabecera */
.cabecera {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  /* Estilos para el menú */
  .menu {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Estilos para el contenido */
  .cuerpo {

    margin: 10px;
    height: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
 
    
  }
  
  /* Estilos para el pie de página */
  .pie {
    top: 10%;
    clear: both;
    text-align: center;
    padding: 20px;
    background-color: #555;
    color: #fff;
  }
  