<div class="container">
    <h2>Registro de Clientes</h2>
    <form id="registroForm" method="post">
        
        <!-- <label for="cedula">Cedula:</label>
        <input type="id" id="cedula" [(ngModel)]="cliente.cedula" name="cedula" required> -->
        <mat-form-field class="example-full-width">
            <mat-label>Cedula</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.cedula" name="cedula" required>
          </mat-form-field>
        
        <mat-form-field class="example-full-width">
            <mat-label>Nombre:</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.nombre" name="nombre" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Apellido:</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.apellido" name="apellido" required>
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Correo electrónico:</mat-label>
            <input matInput placeholder="" [(ngModel)]="cliente.correo" name="email">
        </mat-form-field>

        <mat-form-field class="example-full-width">
            <mat-label>Placa:</mat-label>
            <input matInput placeholder="" [(ngModel)]="vehiculo.placa" name="id" required>
        </mat-form-field>

        <button type="submit" (click)="guardar()">Registrar</button>
    </form>
</div>
