<h1>Tickets</h1>

<table mat-table [dataSource]="listadoTicketsWS" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="horaIngreso">
      <th mat-header-cell *matHeaderCellDef> Hora de Ingreso </th>
      <td mat-cell *matCellDef="let ticket"> {{ticket.horaIngreso}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef> Placa </th>
      <td mat-cell *matCellDef="let ticket"> {{ticket.vehiculo.placa}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="lugar">
      <th mat-header-cell *matHeaderCellDef> Lugar </th>
      <td mat-cell *matCellDef="let ticket"> {{ticket.lugar.nroLugar}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="marcar">
      <th mat-header-cell *matHeaderCellDef> Marcar Salida </th>
      <td mat-cell *matCellDef="let ticket"> <mat-icon (click)="marcar()">logout</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
