<header>
    <h1>Manual de Usuario</h1>
  </header>
  <main>
    <section id="introduccion">
      <h2>Introducción</h2>
      <p>Bienvenido al manual de usuario de nuestra aplicación. Aquí encontrarás instrucciones detalladas para aprovechar al máximo nuestra plataforma.</p>
    </section>

    <section id="instalacion">
      <h2>Ejecucionn</h2>
      <p>Ejecucion de nuestra aplicación es sencilla y rápida:</p>
      La entrada a la página web es un proceso simple y directo. Siga estos pasos para acceder al contenido de manera eficiente:
        
      <ol>
        <li>Abra su Navegador Web: Inicie su navegador web preferido, como Google Chrome, Mozilla Firefox o Microsoft Edge. Puede encontrar el ícono del navegador en su escritorio o en el menú de inicio.</li>
        <li> Introduzca la Dirección Web: En la barra de direcciones del navegador, escriba la dirección completa de la página web. Esto generalmente comienza con "http://" o "https://", seguido por el nombre de dominio. Por ejemplo, "https://www.ejemploweb.com".</li>  
        <li> Presione Enter o Haga Clic: Después de ingresar la dirección, presione la tecla "Enter" en su teclado o haga clic en el botón "Ir" en el navegador. Esto enviará la solicitud para cargar la página web.</li>
        <li>Espere la Carga: El navegador comenzará a cargar la página web. Durante este proceso, verá una barra de progreso o un indicador de carga en la parte superior o inferior de la ventana del navegador. La velocidad de carga puede variar según su conexión a Internet.</li>
        <li>Explorando la Página Web: Una vez que la página web se haya cargado por completo, podrá navegar y explorar su contenido. Utilice el mouse para hacer clic en enlaces, botones y menús de navegación. Puede desplazarse hacia abajo y hacia arriba en la página utilizando la barra de desplazamiento vertical a la derecha. </li> 
        <br>
      </ol>
      Consejos Adicionales:<br>
        Si experimenta problemas para cargar la página, verifique su conexión a Internet y asegúrese de que la dirección web esté escrita correctamente.
        Para mayor seguridad, asegúrese de que la dirección web comience con "https://", lo que indica una conexión cifrada y segura.
        Si es la primera vez que visita la página, es posible que deba crear una cuenta o iniciar sesión según los requisitos del sitio web.
   
    </section>

    <section id="uso">
      <h2>Uso</h2>
      <p>Descubre cómo utilizar nuestra aplicación:</p>
      <ol>
        <li>Gestion de Clientes</li>
            <br>
            Para la administración de clientes, contamos con dos secciones que le brindan la posibilidad de crear nuevos clientes o gestionar aquellos que ya existen:
            <h4>Creacion de Usuarios</h4>
            <p>
                Para llevar a cabo la creación, dirigámonos a la barra de navegación y elijamos la opción "Registro Clientes".<br>
                <img src="/assets/botoncliente.png" width="800"><br>
                Una vez que hayamos completado los campos correctamente, hacemos clic derecho sobre el botón de "Registrar" para guardar a nuestro nuevo cliente.
                <img src="/assets/botonagregarcliente.png" width="800"><br>
                Nota: Una vez registrado el cliente, este será automáticamente añadido a la lista de clientes activos.
            </p>
            <h4>Gestion Clientes Activos</h4>
            <p>
                Como otra funcionalidad importante de la página, contamos con la sección de "Clientes" en el menú. En esta sección, los usuarios tienen la capacidad de gestionar a todos los clientes registrados. Aquí, se les ofrece la posibilidad de realizar diversas acciones, como agregar, eliminar y modificar usuarios.

                Dentro de esta sección, se presenta una interfaz que permite administrar eficazmente la información de los clientes. Esto incluye la capacidad de agregar nuevos clientes al sistema, brindando así la oportunidad de ampliar la base de datos. Asimismo, los usuarios pueden llevar a cabo el proceso de eliminación de clientes cuando sea necesario, manteniendo la información actualizada y relevante. Además, se ofrece la función de modificar los datos de los usuarios existentes, lo que posibilita ajustar y corregir la información según sea requerido.<br>
                <img src="/assets/navgenerar.png" width="800"><br>
                
                En el segundo apartado, nos encontramos con la funcionalidad de eliminación de clientes, la cual ya ha sido previamente mencionada. Esta característica es esencial para permitir la exclusión de clientes registrados en el sistema. Para llevar a cabo este proceso, se debe realizar un clic derecho sobre el ícono de un basurero ubicado en la sección correspondiente.
                Este ícono de basurero representa la acción de eliminación y se encuentra estratégicamente ubicado para facilitar su acceso. Al hacer clic derecho sobre dicho ícono, se desencadenará el procedimiento de eliminación del cliente seleccionado. Es importante destacar que esta acción debe realizarse con precaución, ya que la eliminación de un cliente puede resultar en la pérdida permanente de su información.<br>
                <img src="/assets/eliminarcliente.png" width="800"><br>

                En este Apartado Disponemos de una lista que proporciona una representación visual de todos los clientes registrados, mostrando información relevante de cada uno. En la columna de la derecha, encontrará una opción para generar los tickets de estacionamiento correspondientes a los vehículos de los clientes.<br>
                <img src="/assets/listargenerar.png" width="800"><br>
            </p>
        <li>Gestion de Tickets</li>
            <br>
            <h4>Crear Tickets</h4>
                <p>Una vez seleccionada la opción de "Generar", serás redirigido a otra sección de la página destinada a la creación de tickets para los clientes. En esta sección, se simplifica el proceso de generación del ticket al permitirte seleccionar el lugar de estacionamiento deseado.
                    Para llevar a cabo esta acción, simplemente debes posicionar el puntero del ratón sobre el lugar de estacionamiento deseado y hacer clic derecho. Al hacerlo, el lugar de estacionamiento se marcará con un distintivo de color rojo, indicando que ha sido seleccionado con éxito. Es importante resaltar que este sistema solo permite la selección de un puesto de estacionamiento a la vez. Si intentas seleccionar otro lugar mientras ya tienes uno seleccionado, el sistema te impedirá hacerlo, asegurando que solo se pueda elegir un puesto de estacionamiento en cada ocasión.<br>
                    <img src="/assets/seleccionarticket.png" width="800"><br>
                    Una vez hayas seleccionado el puesto de estacionamiento deseado, podrás dirigirte a la sección inferior de la página donde encontrarás el botón "Registrar". Al posicionar el cursor sobre este botón y hacer clic, se guardara el ticket y este sera redireccionado una lista completa de todos los tickets generados. En esta lista, podrás visualizar y hacer un seguimiento de todos los tickets, incluido el que acabas de registrar con el lugar de estacionamiento, su placa y su fecha en ingreso<br>
                    <img src="/assets/guardarticket.png" width="800"><br>
                </p>
                <h4>Lista de Tickets</h4>
                <p>
                    Como otro icono en la barra de navegacion tenemos la gestion de tickets en la cual para dirigirnos aesta pagina nos posicionamos con el mouse sobre el boton "tickets generados" seleccionado con el click derecho<br>

                    En la sección de "Tickets Generados", encontrarás una lista que muestra todos los tickets que han sido generados. Esta lista presenta los tickets de manera ordenada y proporciona información esencial sobre cada vehículo estacionado. Cada elemento de la lista incluirá los siguientes detalles:<br>

                    <b>Hora de Entrada del Vehículo:</b><br>
                    Junto a cada ticket generado, se mostrará la hora exacta en la que el vehículo ingresó al estacionamiento. Esta información permite un registro preciso de cuándo se produjo la entrada.<br>

                    <b>Lugar del Parqueadero Asignado:</b><br>
                    Además de la hora de entrada, el ticket incluirá el número o identificación del lugar de estacionamiento asignado al vehículo. Esto proporciona una referencia clara sobre dónde se encuentra ubicado el vehículo en el estacionamiento.<br>
                    <img src="/assets/ticketsgenerados.png" width="800"><br>
                    
                    En la sección que muestra la lista de tickets generados, encontrarás una función que te permite marcar la salida de un vehículo. Esta funcionalidad se implementa a través de un botón específico que debes presionar cuando desees registrar la salida del vehículo. Al hacer clic en este botón, ocurrirán dos acciones importantes:<br>

                    <b>Marca de Hora de Salida:</b><br>
                    El sistema registrará automáticamente la hora exacta en que el vehículo salió del estacionamiento. Esta marca de tiempo se asociará con el ticket correspondiente y quedará registrada en el sistema.<br>

                    <b>Redirección a la Página de Facturación:</b><br>
                    Después de registrar la salida del vehículo y marcar la hora de salida, el sistema te redireccionará automáticamente a la página de facturación. Aquí, podrás visualizar y procesar la factura para el cliente cuyo vehículo ha dejado el estacionamiento.<br>
                    
                    <img src="/assets/marcarsalida.png" width="800"><br>
                </p>
        <li>Gestion Facturas</li>

        <li>Contacto</li>
        <br>
        <p>
            Para dirijirnos al apartado de contacto nos vamos a la barra de navegacion posicionado el cursor en la parte superior de la pagina y la seccion de contacto ingresamos con click derecho<br>
            <img src="/assets/contactoMenu.png" width="800"><br>
            En este apartado tenemos un formulario en el cual nos pueden realizar consultas o sugerencias, este consta de un formulario en el cual tienen que llenar con la informacion solicitada por el lateral izquierdo<br>
            <img src="/assets/formulariocontacto.png" width="800"><br>
            Una vez Rellenado los campos solicitados, nos posicionamos con el cursor sobre el boton"enviar" con el clic derecho presionamos y se enviara la sugerencia<br>
            <img src="/assets/contactoenviar.png" width="800"><br>
            En el lateral derecho, encontrarás todas nuestras redes sociales a través de las cuales puedes ponerte en contacto con nosotros.<br>
            Ponte en contacto con nosotros de manera sencilla: simplemente coloca el cursor sobre el ícono de la red social por la cual deseas comunicarte y haz clic derecho. Serás redirigido automáticamente a nuestra página en esa plataforma.<br>
            <img src="/assets/redesdociales.png" width="800"><br>
        </p>
      </ol>
    </section>

    <section id="solucionproblemas">
      <h2>Solución de Problemas</h2>
      <p>Si encuentras algún problema, sigue estos pasos para resolverlo:</p>
      <ol>
        <li>Consulta nuestra sección de preguntas frecuentes en línea.</li>
        <li>Comunícate con nuestro equipo de <a href="paginas/Contactenos">soporte técnico</a> para obtener ayuda personalizada.</li>
        <li>Explora la comunidad en línea para buscar soluciones de otros usuarios.</li>
      </ol>
    </section>
  </main>